MYSQL_ROOT_PASSWORD=root
MYSQL_USER=ctms
MYSQL_PASSWORD=ctms

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_AMQP_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HOST_PORT=15672
RABBITMQ_USER=ctms
RABBITMQ_PASSWORD=ctms
RABBITMQ_EXCHANGE=ctms_topic

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_HOST_PORT=6379

KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001

CONCERT_PORT=5100
PRICING_PORT=5101
QUEUE_PORT=5102
TICKET_INVENTORY_PORT=5103
PAYMENT_PORT=5104
QR_PORT=5105
NOTIFICATION_PORT=5106
PURCHASE_WINDOW_PORT=5110
RESALE_PURCHASE_PORT=5111
CONCERT_CANCELLATION_PORT=5112

PURCHASE_WINDOW_SECONDS=300
MAX_ACTIVE_WINDOWS=5
CONCERT_SERVICE_URL=https://personal-cqdsnkhp.outsystemscloud.com/ConcertAPI/rest/v1

STRIPE_SECRET_KEY=dummy
QR_HMAC_SECRET=dev-secret
TWILIO_ACCOUNT_SID=dummy
TWILIO_AUTH_TOKEN=dummy
TWILIO_FROM_NUMBER=+10000000000
EMAIL_PROVIDER=sendgrid
SENDGRID_API_KEY=dummy
EMAIL_FROM=demo@example.com